.about-item{
  width: 276px;
  color: $content-color;
  font-family: $content-ff;
  font-weight: 400;
  &__title{
    display: flex;
    align-items: center;
    padding: 10px 0;
    font-size: 22px;
  }
  &__content{
    font-size: 14px;
    line-height: 22px;
  }
  &__image{
    margin-right: 15px;
  }
}
@media (max-width: $desctop-width){
  .about-item{
    width: 420px;
  }
}
@media (max-width: $tablet-width) {
  .about-item{
    width: 300px;
  }
}