.about-me{
  &__list{
    display: flex;
    justify-content: space-between;
  }
  &__contacts{
    margin-top: 50px;
    padding-left: 50px;
    color: $content-color;
    font-family: $content-ff;
    font-size: 22px;
    font-weight: 500;
  }
}
@media (max-width: $desctop-width){
  .about-me{
    &__list{
      flex-direction: column;
      align-items: center;
    }
  }
}
@media (max-width: $tablet-width) {
  .about-me{
    &__contact-item{
      flex-direction: column;
    }
  }
}