.header{
  background-color: $header-bg;
  &__upper{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 250px;
  }
  &__owner-name{
    color: $form-content-color;
    font-family: $content-ff;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
  }
}
