.portfolio-item{
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  color: $content-color;
  font-family: $content-ff;
  &__photo-link{
    display: block;
    margin-bottom: 7%;
  }
  &__title{
    padding: 15px 0;
    text-align: center;
    font-size: 26px;
    font-weight: 400;
  }
  &__description{
    display: flex;
    padding: 20px 0;
    font-size: 22px;
  }
  &__question{
    width: 220px;
    text-align: right;
    font-weight: 700;
  }
  &__answer{
    padding-left: 40px;
    font-style: italic;
  }
  &__technology{
    display: flex;
    padding-left: 45px;
  }
  &__technology-title{
    padding-bottom: 10px;
    font-size: 23px;
  }
  &__technology-list{
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
  }
  &__technology-item{
    padding-left: 10px;
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    color: red;
  }
  &__git-link{
    display: block;
    padding: 15px 0px 15px 0px;
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    font-style: italic;
    color: darkblue;
  }
}
@media (max-width: $desctop-width){
  .portfolio-item{
    &__technology{
      padding: 0;
    }
    &__question{
      width: 250px;
      text-align: right;
    }
    &__answer{
      padding-left: 0;
      text-align: center;
      font-size: 20px;
    }
  }
}
@media (max-width: $tablet-width) {
  .portfolio-item{
    &__info{
      align-items: center;
    }
    &__description{
      align-self: center;
      padding: 20px 0;
      font-size: 15px;
    }
    &__question{
      width: 70px;
      flex-shrink: 0;
      text-align: right;
      font-weight: 700;
    }
    &__answer{
      padding-left: 0;
      font-style: italic;
      font-size: 15px;
    }
    &__technology{
      padding: 0;
    }
    &__technology-list{
      padding-left: 0;
    }
    &__technology-title{
      padding-bottom: 10px;
      font-size: 17px;
    }
    &__technology-item{
      padding-left: 10px;
      font-size: 15px;
    }
    &__git-link{
      padding: 5px 10px 5px 0;
      font-size: 15px;
      text-align: center;
    }
  }
}