.portfolio-item{
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  color: $content-color;
  font-family: $content-ff;
  &__photo-link{
    display: block;
  }
  &__title{
    padding: 15px 0;
    text-align: center;
    font-size: 26px;
    font-weight: 400;
  }
  &__description{
    display: flex;
    padding: 20px 0;
    font-size: 22px;
  }
  &__question{
    width: 220px;
    text-align: right;
    font-weight: 700;
  }
  &__answer{
    padding-left: 40px;
    font-style: italic;
  }
  &__technology{
    display: flex;
    padding-left: 45px;
  }
  &__technology-title{
    padding-bottom: 10px;
    font-size: 23px;
  }
  &__technology-list{
    display: flex;
    padding-left: 15px;
  }
  &__technology-item{
    padding-left: 10px;
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    color: red;
  }
  &__git-link{
    display: block;
    padding: 15px 45px 15px 120px;
    font-size: 23px;
    font-weight: 700;
    font-style: italic;
    color: darkblue;
  }
}
