.section-title{
  &__text{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    color: $content-color;
    font-family: $content-ff;
    font-weight: 400;
    font-size: 48px;
  }
}
@media (max-width: $desctop-width){
  .section-title{
    &__text{
      font-size: 38px;
    }
  }
}
@media (max-width: $tablet-width) {
  .section-title{
    &__text{
      padding-bottom: 10px;
      font-size: 30px;
    }
  }
}