.skills{
  &__content{
    display: flex;
    justify-content: space-around;
  }
  &__adv, &__reward{
    width: 420px;
  }
  &__list{
    padding-top: 30px;
  }
  &__subtitle-text{
    text-align: center;
    color: $content-color;
    font-family: $content-ff;
    font-weight: 400;
    font-size: 32px;
  }
  &__item{
    position: relative;
    list-style: none;
    padding-left: 35px;
    margin-bottom: 15px;
  }
  &__item-content{
    position: relative;
    color: $content-color;
    font-family: $content-ff;
    font-weight: 400;
    font-size: 22px;
    font-style: italic;
  }
  &__item-content::before,
  &__item-content::after{
    position: absolute;
    display: block;
    content: '';
  }
  &__item-content::before{
    left: -25px;
    top: 13px;
    width: 15px;
    height: 3px;
    background-color: $content-color;
    transform: rotate(-45deg);
  }
  &__item-content::after{
    left: -28px;
    top: 16px;
    width: 7px;
    height: 3px;
    background-color: $content-color;
    transform: rotate(45deg);
  }
}
@media (max-width: $desctop-width){
  .skills{
    &__list{
      padding-top: 20px;
    }
    &__content{
      flex-direction: column;
      align-items: center;
    }
  }
}
@media (max-width: $tablet-width){
  .skills{
    &__list{
      padding-top: 15px;
    }
    &__subtitle-text{
      font-size: 20px;
    }
    &__item-content{
      font-weight: 400;
      font-size: 14px;
      font-style: italic;
    }
  }
  .skills__item-content::before{
    left: -15px;
    top: 7px;
    width: 10px;
    height: 2px;
  }
  .skills__item-content::after{
    left: -17px;
    top: 9px;
    width: 5px;
    height: 2px;
  }
}