.box-carousel, .slide-box-carousel {
    position: relative;
    width: 100%;
    padding-bottom: 78.5%;
    margin-bottom: 15px;
    height: auto;
    overflow: hidden;
}
.arrow.prev{	cursor: url("../img/decor/arrow-long-left.svg"), url('../img/decor/arrow-long-left.png'), pointer; }

.arrow.next			{	cursor: url('../img/decor/arrow-long-right.svg'), url('../img/decor/arrow-long-right.png'), pointer; }

.close:link,
.close:visited		{	background-image: url('../img/decor/widget-close.svg'); }
.close:hover			{	background-image: url('../img/decor/widget-close-over.svg'); }

.pg-item{
    width: 43px;
    height: 17px;
}
.pager{
    top: 71%;
}
@media (max-width: $desctop-width){
    .slide-box{
        padding-bottom: 100%;
    }
    .pager{
      top: 60%;
    }
    .pg-item{
        width: 30px;
        height: 12px;
    }
  }
  @media (max-width: $tablet-width) {
    .slide-box{
        padding-bottom: 129%;
    }
    .pager{
        top: 56%;
      }
    .pg-item{
        width: 20px;
        height: 8px;
    }
  }