.box-carousel, .slide-box-carousel {
    position: relative;
    width: 100%;
    padding-bottom: 78.5%;
    margin-bottom: 15px;
    height: auto;
    overflow: hidden;
}
.arrow.prev{	cursor: url("../img/decor/arrow-long-left.svg"), url('../img/decor/arrow-long-left.png'), pointer; }

.arrow.next			{	cursor: url('../img/decor/arrow-long-right.svg'), url('../img/decor/arrow-long-right.png'), pointer; }

.close:link,
.close:visited		{	background-image: url('../img/decor/widget-close.svg'); }
.close:hover			{	background-image: url('../img/decor/widget-close-over.svg'); }

.pg-item{
    width: 43px;
    height: 17px;
}
