.technology{
  &__list{
    display: flex;
    justify-content: space-around;
    padding: 0 70px;
  }
  &__item-image{

  }
  &__title{
    padding: 30px 0;
    text-align: center;
    color: $content-color;
    font-family: $content-ff;
    font-weight: 400;
    font-size: 48px;
  }
}
