@font-face {
  font-family: "Georgia";
  src: url('../fonts/Georgia-Italic.woff2') format('woff2'),
  url('../fonts/Georgia-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Georgia";
  src: url('../fonts/Georgia-Regular.woff2') format('woff2'),
  url('../fonts/Georgia-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
